.result{
    position: relative;
    left: 420px;
    top: 200px;
}
.son1{
    position: relative;
    left: 420px;
    top: 200px;
}
.son2{
    position: relative;
    left: 700px;
    top: 90px;
}